.box {
    width: 300px;
    height: 300px;
    background-color: #E75480;
    margin: 10px;
    float: left;

  }

  .box1 {
    width: 300px;
    height: 300px;
    background-color: #DE5D83;
    margin: 10px;
    float: left;
  }

  .box2 {
    width: 300px;
    height: 300px;
    background-color: #A94064;
    margin: 10px;
    float: left;
  }

  .clear {
    clear: both;
  }